@import './color.sass';

@font-face {
    font-family: "RalewayRegular";
    src: url("/src/fonts/ProximaNova-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-Black";
    src: url("/src/fonts/ProximaNova-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("/src/fonts/ProximaNova-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-Extrabld";
    src: url("/src/fonts/ProximaNova-Extrabld.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ProximaNova-SemiboldIt";
    src: url("/src/fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {
    padding: 0;
    margin: 0;
    font-family: "RalewayRegular";
}

// header
.header {
    background: url(../../build/img/header/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.header__top {
    display: flex;
    flex-direction: row;
    position: relative;
}

.header__logo_img--mobile {
    display: none;
}

.header__catalog {
    width: 115px;
    height: 134px;
    background-color: #d5cbc0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 24px 15px 0 20px;
    padding: 0;
    text-decoration: none;

    span {
        color: #0e0e0f;
        font-family: 'RalewayRegular', sans-serif;
        font-size: 16px;
        margin-top: 10px;
    }
}

.header__catalog:hover {
    background-color: #eee8e1;
    transition: .5s;
}

.header__catalog--open {
    width: 1876px;
    height: 377px;
    background-color: #ffffff;
    position: absolute;
    left: 20px;
    top: 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__catalog_item {
    width: 603px;
    height: 157px;
    display: flex;
    align-items: center;

    .catalog__title:hover {
        color: #ffac08;
        cursor: pointer;
        transition: .5s;
    }
}

.button__menu {
    display: none;
}

.catalog__img {
    margin-left: 80px;
}

.catalog__title {
    color: #3f3e3e;
    font-size: 30px;
    font-weight: 700;
    line-height: 22.51px;
}

.header__catalog_item:nth-child(1) {
    border: 1px dashed #9ea1a4;
    border-top: none;
    border-left: none;
    margin-top: 30px;
    margin-left: 30px;
}

.header__catalog_item:nth-child(2) {
    border: 1px dashed #9ea1a4;
    border-top: none;
    border-left: none;
    margin-top: 30px;
}

.header__catalog_item:nth-child(3) {
    border: 1px dashed #9ea1a4;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 30px;
}

.header__catalog_item:nth-child(4) {
    border: 1px dashed #9ea1a4;
    border-bottom: none;
    border-left: none;
    border-top: none;
    margin-left: 30px;
    margin-top: -32px;
}

.header__catalog_item:nth-child(5) {
    border: 1px dashed #9ea1a4;
    border-bottom: none;
    border-left: none;
    border-top: none;
    margin-top: -32px;
}

.header__catalog_item:nth-child(6) {
    border: 1px dashed #9ea1a4;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-top: -32px;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1746px;
    height: 133px;
    background: #fff;
    margin-top: 24px;
}

.header__logo {
    margin-left: 30px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 91px;
}


.header__nav_link {
    color: #000000;
    font-family: 'RalewayRegular', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin-right: 40px;
}

.header__nav_link:hover {
    color: #ffac08;
    transition: .5s;
}

.header__nav--mobile {
    display: none;
    a {
        color: #000000;
        font-family: 'RalewayRegular', sans-serif;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        margin-right: 40px;
    }

    a:hover {
        color: #ffac08;
        transition: .5s;
    }
}

.header__nav--mobile-menu {
    display: none;

    a {
        color: #000000;
        font-family: 'RalewayRegular', sans-serif;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        margin-right: 0px;
    }

    a:hover {
        color: #ffac08;
        transition: .5s;
    }
}

.header__schedule {
    margin-left: 75px;
    position: relative;
    text-align: left;

    p {
        margin: 5px 0;
    }
}

.header__schedule::after {
    content: '';
    display: block;
    width: 2px;
    height: 82px;
    background-color: #d9ccc7;
    position: absolute;
    top: 0;
    left: -40px;
}

.header__schedule::before {
    content: '';
    display: block;
    width: 2px;
    height: 82px;
    background-color: #d9ccc7;
    position: absolute;
    top: 0;
    right: -40px;
}

.header__call-back {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 94px;
}

.call-back__phone {
    color: #3f3e3e;
    font-family: "ProximaNova-Black";
    font-size: 32px;
    text-decoration: none;
}

.call-back__phone:hover {
    color: rgb(255, 0, 0);
    transition: .8s;
}

.call-back__button {
    border: none;
    width: 275px;
    height: 49px;
    background-color: #ffac08;
    color: #ffffff;
    font-family: "ProximaNova-SemiboldIt";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.call-back__button:hover {
    background-color: #ffda08;
    transition: .5s;
}

.header__title {
    width: 1556px;
    margin: 150px auto 0;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.23);
    font-family: "ProximaNova-Extrabld";
    color: #ffffff;
    font-size: 58px;
    font-weight: 400;
    line-height: 76px;
    text-transform: uppercase;
}

.header__subtitle {
    /* Style for "Производим" */
    width: 1355px;
    margin: 10px auto 79px;
    color: #ffac08;
    font-size: 30px;
    font-weight: 400;
}

.header__form {
    width: 1402px;
    height: 352px;
    margin: 0 auto;
    background-color: #ffffff8c;
    text-align: left;

    form {
        margin-left: 92px;
    }
}

.form_container {
    width: 1364px;
    height: 313px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    top: 19px;
}

.form_container__mt {
    position: relative;
    top: 88px;
}

.form__title {
    width: 1160px;
    color: #3f3e3e;
    font-family: "ProximaNova-Extrabld";
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    padding-top: 46px;
    margin-left: 92px;
    margin-bottom: 20px;
    margin-top: 0;
}

.form__subtitle {
    margin-left: 92px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.form__input {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    width: 270px;
    height: 30px;
    outline: none;
    position: relative;
}

.form__input:hover {
    border-bottom: 2px solid #ffac08;
    transition: .5s;
}

.form__input::placeholder {
    opacity: 0.7;
    color: #000000;
    font-family: 'RalewayRegular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.92px;
    position: relative;
    bottom: 3px;
}

.form__input:nth-child(1) {
    margin-right: 88px;
}

.form__input:nth-child(2) {
    margin-right: 170px;
}

.form__input:nth-child(1) {
    background: url(../../build/img/header/user.png) no-repeat 7px 4px;
    margin-left: 3px;
}

.form__input:nth-child(2) {
    background: url(../../build/img/header/phone.png) no-repeat 7px 4px;
    margin-left: 3px;
}

.form__input:nth-child(3) {
    background: url(../../build/img/main/complex-project/Email.png) no-repeat 4px 5px;
    margin-left: 3px;
}

.form__input:nth-child(4) {
    background: url(../../build/img/main/full-form/Message_Lines.png) no-repeat 4px 5px;
    margin-left: 3px;
}

.form__button {
    width: 300px;
    height: 60px;
    background-color: #ffac08;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.form__button::after {
    content: url(../../build/img/header/btn-border.png);
    position: absolute;
    left: -15px;
    top: -15px;
}

input[type="text"] {
    color: #000000c5;
    font-size: 16px;
    padding-left: 30px;
}

textarea {
    color: #000000c5;
    font-size: 16px;
    padding-left: 30px;
    resize: none;
}

.form__button:hover {
    background-color: #ffda08;
    transition: .5s;
}

.form__form {
    display: flex;
    flex-direction: row;
    position: relative;
}

.form__subtitle_radio-inputs {
    margin-right: 70px;
    display: flex;
    flex-direction: column;

    input:nth-child(1) {
        margin-bottom: 30px;
    }
}

.form--bold {
    font-family: "ProximaNova-Bold";
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
textarea:focus::-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
textarea:focus:-ms-input-placeholder {
    color: transparent;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}




// main

// Каталог товаров

.catalog {
    width: 100%;
    margin: 0 auto;
}

.catalog__container {
    position: relative;
    padding-top: 100px;
}

.catalog__top_banner {
    width: 1364px;
    height: 248px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(../../build/img/main/catalog/catalog__bg.png);
    margin: 0 auto;
    position: relative;
    bottom: -130px;
    left: 0%;
    text-align: left;
}

.catalog__top_title {
    color: #eaeaea;
    // font-family: "ProximaNova-SemiboldIt";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.catalog__top_title--plus {
    color: #ffac08;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    display: block;
    position: relative;
    top: 30px;
    left: 0px;
}

.catalog__top_title--big-text {
    height: 49px;
    color: #ffffff;
    font-family: "ProximaNova-Extrabld";
    font-size: 70px;
    font-weight: 400;
    line-height: 45px;
    margin-left: 30px;
    display: block;
}

.catalog__top_title--meter {
    font-size: 48px;
    position: relative;
    top: -25px;
}

.catalog__top_title--full-construction {
    font-size: 48px;
    position: relative;
    top: -0px;
}

.catalog__top_item:nth-child(1) {
    width: 324px;
    margin-left: 70px;
    border-right: 2px dashed #9ea1a4;
}

.catalog__top_item:nth-child(2) {
    width: 220px;
    padding-left: 70px;
    border-right: 2px dashed #9ea1a4;
}

.catalog__top_item:nth-child(3) {
    width: 220px;
    padding-left: 70px;
    border-right: 2px dashed #9ea1a4;
}

.catalog__top_item:nth-child(4) {
    width: 400px;
    padding-left: 70px;
    height: 150px;
}

.catalog__name {
    width: 1400px;
    margin: 0 auto;
    position: relative;
    margin-top: 97px;
}

.catalog__name_title {
    opacity: 0.25;
    color: #d5cbc0;
    font-family: "ProximaNova-Extrabld";
    font-size: 70px;
    font-weight: 400;
    line-height: 55px;
    margin: 0;
    margin-bottom: 63px;
    margin-left: 73px;
}

.catalog__name_subtitle {
    color: #3f3e3e;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 73px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.catalog__items {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.catalog__item {
    width: 273px;
    height: 569px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.catalog__item_title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.catalog__item_link {
    color: #ffac08;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    cursor: pointer;
    margin-bottom: 26px;
    text-decoration: none;
}

.catalog__item:nth-child(1) {
    background-image: url(../../build/img/main/catalog/item1.png);
    margin-right: 1px;
}

.catalog__item:nth-child(2) {
    background-image: url(../../build/img/main/catalog/item2.png);
    margin-right: 1px;
}

.catalog__item:nth-child(3) {
    background-image: url(../../build/img/main/catalog/item3.png);
    margin-right: 1px;
}

.catalog__item:nth-child(4) {
    background-image: url(../../build/img/main/catalog/item4.png);
    margin-right: 1px;
}

.catalog__item:nth-child(5) {
    background-image: url(../../build/img/main/catalog/item5.png);
    margin-right: 1px;
}

.catalog__item:nth-child(6) {
    background-image: url(../../build/img/main/catalog/item6.png);
    margin-right: 1px;
}

.catalog__item:nth-child(7) {
    background-image: url(../../build/img/main/catalog/item7.png);
}

.catalog__form {
    background: url(../../build/img/main/catalog/catalog__background.png);
    width: 100%;
    height: 530px;
}

.catalog__name_second-title {
    color: #3f3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 31.98px;
    letter-spacing: 0.34px;
    font-family: "ProximaNova-Bold";
    margin-left: 112px;
    margin-top: -25px;
    margin-bottom: 0;
}

.gallery {
    padding-bottom: 140px;
}

.gallery__slick {
    background-image: url(../../build/img/main/gallery/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.gallery__slick_item {
    width: 1402px;
    margin: 50px auto;
    height: 806px;
    box-shadow: 0 0 50px rgba(89, 67, 44, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery__left_container {
    margin-left: 110px;
    margin-right: 60px;
}

.gallery__title {
    color: #3f3e3e;
    font-family: "ProximaNova-Bold";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 0;
}

.gallery__title_description {
    display: flex;
}

.gallery__left--sm-text {
    margin-top: 50px;
    margin-right: 30px;

    span {
        font-size: 30px;
    }
}

.gallery__left--grey {
    color: #d5cbc0;
}

.gallery__left_task {
    color: #3f3e3e;
    font-family: "ProximaNova-Extrabld";
    font-size: 48px;
    font-weight: 400;
    display: block;
    margin-top: 80px;
}

.gallery__left_subtask {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.gallery__right_img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.slick-prev {
    left: 250px;
    top: 900px;
}

.slick-next {
    right: 290px;
    top: 900px;
}

.slick-prev:before {
    content: url(../../build/img/main/gallery/prev.png);
}

.slick-next:before {
    content: url(../../build/img/main/gallery/next.png);
}

.calculator {
    width: 100%;
    height: 812px;
    background-image: url(../../build/img/main/calculator/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

    .form__subtitle {
        margin-bottom: 35px;
        margin-top: -10px;
    }

    .form__button {
        top: 30px;
    }
}

.calculator__container {
    width: 1400px;
    margin: 0 auto;
}

.calculator__title {
    color: #ffffff;
    font-family: "ProximaNova-Extrabld";
    font-size: 58px;
    font-weight: 400;
    line-height: 76px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 147px;
    margin-left: 78px;
}

.calculator__subtitle {
    color: #ffffff;
    font-family: "ProximaNova-Bold";
    font-size: 36px;
    font-weight: 400;
    line-height: 76px;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 78px;
}

.calculator__subtitle--orange {
    color: #ffac08;
}

input[type="radio"]:checked+span:before {
    content: url(../../build/img/main/calculator/check-active.png);
    position: relative;
    top: -2px;
    left: -4px;
}

input[type="radio"]+span:before {
    content: url(../../build/img/main/calculator/check.png);
    position: relative;
    top: -2px;
    left: -4px;
}

.input-helper--radio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.complex-project {
    width: 100%;
    height: 524px;
    background-image: url(../../build/img/main/complex-project/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.complex-project__container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.form_container__complex-project {
    background: none;
    width: 855px;
    margin-left: 81px;

    .form__title {
        margin-left: 0px;
        margin-top: 80px;
    }

    .form__subtitle {
        margin-left: 0px;
    }

    .form__input:nth-child(2) {
        margin-right: 0px;
    }

    .form__input:nth-child(3) {
        margin-right: 91px;
    }

    .form__button {
        margin-top: 36px;
    }
}

.complex-project__img {
    margin-top: 25px;
}

.advantages {
    width: 100%;
    height: 1237px;
    margin: 0 auto;
    background-image: url(../../build/img/main/advantages/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.advantages__container {
    position: relative;
}

.advantages__text {
    width: 565px;
    color: #3f3e3e;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    position: absolute;
    left: 36%;
    top: 448px;
    text-align: center;
}

.advantages__item {
    text-align: center;
    width: 340px;
}

.advantages__item_title {
    color: #444444;
    font-size: 22px;
    font-weight: 400;
    font-family: "ProximaNova-Bold";
    margin: 22px 0 10px;
}

.advantages__item_subtitle {
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    margin: 22px 0 10px;
}

.advantages__item:nth-child(1) {
    position: relative;
    top: 83px;
    left: 41%;
}

.advantages__item:nth-child(2) {
    position: relative;
    top: 202px;
    left: 15%;
}

.advantages__item:nth-child(3) {
    position: relative;
    top: 26px;
    left: 68%;
}

.advantages__item:nth-child(4) {
    position: relative;
    top: 155px;
    left: 15%;
}

.advantages__item:nth-child(5) {
    position: relative;
    top: -13px;
    left: 68%;
}

.advantages__item:nth-child(6) {
    position: relative;
    top: 138px;
    left: 42%;
}

.our-production {
    width: 100%;
    height: 1237px;
    margin: 0 auto;
    background-image: url(../../build/img/main/our-production/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.our-production__container {
    width: 1400px;
    margin: 0 auto;

    .catalog__name {
        padding-top: 50px;

        .catalog__name_title {
            margin: 0 0 23px 71px;
        }

        .catalog__name_subtitle {
            margin-top: 50px;
        }
    }
}

.our-production__content {
    display: flex;
    flex-direction: row;
}

.our-production__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;

    img {
        margin-bottom: 25px;
    }
}

.our-production__quote_context {
    width: 629px;
    margin-left: 30px;
    margin-top: -74px;

    span {
        color: #3f3e3e;
        font-family: "ProximaNova-Black";
        font-size: 120px;
        transform: rotate(180deg);
        display: inline-block;
    }

    p {
        color: #3f3e3e;
        font-family: "ProximaNova-SemiboldIt";
        font-size: 18px;
        line-height: 24px;
        margin: 0;
    }
}

.our-production__quote {
    width: 1008px;
    height: 295px;
    margin-top: 20px;
    background-color: #d5cbc0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.our-production__slick {
    display: none;
}

.section-video {
    width: 750px;
    height: 679px;
    margin: 0 auto;
    background-image: url(../../build/img/main/video/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.section-video__title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    padding-top: 50px;
    margin: 0;
    margin-bottom: 50px;
}

.catalog__container--mt-0 {
    margin-top: 0;
}

.full-form {
    width: 100%;
}

.full-form__container {
    width: 1420px;
    height: 571px;
    margin: 0 auto;
    background-image: url(../../build/img/main/full-form/bg.png);
    background-repeat: no-repeat;
    background-position-y: 227px;
    background-position-x: 40px;
    text-align: center;
}

.full-form__title {
    color: #3f3e3e;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    margin-top: 100px;
    margin-bottom: 34px;
}

.full-form__title::after {
    content: '';
    display: block;
    width: 93px;
    height: 3px;
    position: relative;
    left: 47%;
    margin-top: 30px;
    background-color: #d5cbc0;
}

.full-form__subtitle {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.full-form__form {
    text-align: center;
    position: relative;
    margin-top: 100px;

    .form__input:nth-child(1) {
        margin-right: 28px;
    }

    .form__input:nth-child(2) {
        margin-right: 28px;
    }

    .form__input:nth-child(3) {
        margin-right: 28px;
    }

    .form__button {
        position: absolute;
        top: 80px;
        right: 55px;
    }
}

.certificates {
    height: 728px;
    background-image: url(../../build/img/main/certificates/bg.png);
    background-repeat: no-repeat;
    z-index: -2;
}

.certificates__container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.certificates__title {
    padding-top: 110px;
    color: #3f3e3e;
    font-family: "ProximaNova-Extrabld";
    font-size: 58px;
    font-weight: 400;
    line-height: 76px;
    text-transform: uppercase;
    margin: 0;
}

.certificates__subtitle {
    color: #3f3e3e;
    font-size: 36px;
    font-weight: 600;
    line-height: 76px;
    z-index: 3;
    position: relative;
}

.certificates__items {
    display: flex;
    flex-direction: row;
    margin-top: 66px;
}

.certificates__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    z-index: 2;
}

.certificates__paper-img {
    position: absolute;
    top: -15px;
    right: -320px;
    z-index: 1;
}

.discount {
    background-image: url(../../build/img/main/discount/background.png);
    background-repeat: no-repeat;
    height: 841px;

    .form__title {
        margin-bottom: 40px;
    }
}

.discount__container {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.discount__title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    padding-top: 117px;
    margin: 0;
    margin-bottom: 70px;
}

.discount__title--orange {
    color: #ffac08;
}

.form_container--discount {
    height: 418px;
    width: 1364px;
    height: 418px;
    margin: 0 auto;
    background-color: #fff;
    top: 19px;
    position: relative;
}

.header__form--discount {
    height: 458px;
}

.discount__form {
    position: relative;

    .form__input:nth-child(1) {
        margin-right: 88px;
    }

    .form__input:nth-child(2) {
        margin-right: 88px;
    }

    .form__button {
        position: absolute;
        top: 100px;
        right: 55px;
    }
}

.reviews {
    background-image: url(../../build/img/main/reviews/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1197px;

    .catalog__name {
        width: 1400px;
        margin: 0 auto;
        position: relative;

        .catalog__name_title {
            padding-top: 126px;
            margin-bottom: 30px;
        }

        .catalog__name_subtitle {
            padding-top: 126px;
        }
    }

    .slick-prev:before {
        content: url(../../build/img/main/reviews/arr-left.png);
    }

    .slick-next:before {
        content: url(../../build/img/main/reviews/arr-next.png);
    }
}

.reviews__container {
    width: 1500px;
    margin: 0 auto;
}

.reviews {
    .slick-prev {
        left: 29px;
        top: 760px;
    }

    .slick-next {
        right: 68px;
        top: 760px;
    }
}

.reviews-slick__item_img {
    margin: 30px;
}

.reviews-slick__item_context {
    margin-top: 60px;
    width: 414px;
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.reviews__slick_item {
    width: 691px;
    height: 677px;
    box-shadow: 0 0 50px rgba(89, 67, 44, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px;

    span {
        color: #3f3e3e;
        font-family: "RalewayRegular";
        font-size: 24px;
        font-weight: 700;
    }
}

.map {
    .footer__social {
        margin-top: 10px;
    }
}

.map__container {
    position: relative;
}

.map__contacts {
    width: 603px;
    height: 710px;
    box-shadow: 0 0 50px rgba(89, 67, 44, 0.2);
    background: #fff;
    position: absolute;
    bottom: -140px;
    right: 262px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 87px;

    a {
        text-decoration: none;
        color: #3f3e3e;
    }
}

.contacts__title {
    color: #3f3e3e;
    font-family: "ProximaNova-Extrabld";
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    margin: 50px 0 10px;
}

.contacts__description {
    color: #3f3e3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-bottom: 20px;
}

.contacts__subtitle {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;
}

.contacts__phone {
    color: #3f3e3e;
    font-family: "ProximaNova-Black";
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contacts__email {
    color: #3f3e3e;
    font-size: 36px;
    margin-bottom: 15px;
}

.contacts__address {
    color: #3f3e3e;
    font-family: "ProximaNova-Bold";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    margin-bottom: 15px;
}

.contacts__button {
    width: 300px;
    height: 60px;
    background-color: #ffac08;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 243px;
    margin-top: 40px;
    cursor: pointer;
}

.footer {
    height: 369px;
    width: 100%;
    background-image: url(../../build/img/footer/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer__container {
    width: 1400px;
    margin: 0 auto;
}

.footer__top {
    padding-top: 70px;
    border-bottom: 1px solid #cfcfcf85;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.footer__social {
    margin-top: 30px;
    display: flex;
    align-items: center;
    a {
        margin-right: 10px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}
.footer__social_youtube {
    border-radius: 50%;
    padding: 6px 6px 4px 7px;
    background: #cfcfcf;
    position: relative;
    top: -2px;
    .fa-youtube {
        color: #3f3e3e
    }
}

.footer__top_right {
    margin-left: 180px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.footer__nav_link {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer__nav_link:hover {
    color: #ffac08;
    transition: .5s;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer__copyright {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer__confidentiality {
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
}

.footer__confidentiality:hover {
    color: #ffac08;
    transition: .5s;
}

// custom dots

.my-dots {
    position: absolute;
    bottom: -75px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.my-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
    outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
    opacity: 1;
}

.my-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: url('../img/main/reviews/dot.png');
    text-align: center;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.my-dots li.slick-active button:before {
    content: url('../img/main/reviews/dot-activ.png');
}


// Попап

.popup-write {
    width: 100%;
    min-height: 100%;
    background-color: #26241da1;
    overflow: hidden;
    position: fixed;
    top: 0px;
    .header__form {
        width: 650px;
        height: 600px;
    }

    .form_container {
        width: 620px;
        height: 560px;
        position: relative;
        margin-top: 50px;
    }

    .header__form form {
        margin-left: 0;
    }
    .form__input:nth-child(1) {
        margin-right: 0;
        margin-top: 30px;
    }

    .form__input:nth-child(2) {
        margin-right: 0;
        margin-top: 30px;
    }

    .form__input:nth-child(3) {
        margin-right: 0;
        margin-top: 30px;
    }
    .form__input:nth-child(4) {
        margin-right: 0;
        margin-top: 30px;
    }
}

.popup-tnx {
    width: 100%;
    min-height: 100%;
    background-color: #26241da1;
    overflow: hidden;
    position: fixed;
    top: 0px;

    .header__form {
        width: 650px;
        height: 275px;
    }

    .form_container {
        width: 620px;
        height: 240px;
        position: relative;
        margin-top: 160px;
    }
}

.popup__close2 {
    position: absolute;
    right: 10px;
    top: 10px;
}

.popup-tnx__title {
    font-size: 48px;
    font-family: "ProximaNova-Black";
    display: block;
    text-align: center;
    padding-top: 50px;
}

.popup-tnx__subtitle {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.popup-callback {
    width: 100%;
    min-height: 100%;
    background-color: #26241da1;
    overflow: hidden;
    position: fixed;
    top: 0px;

    .header__form {
        width: 650px;
        height: 490px;
    }

    .form_container {
        width: 620px;
        height: 450px;
        position: relative;
        margin-top: 50px;
    }

    .header__form form {
        margin-left: 0;
    }
}

.popup-callback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .form__input:nth-child(1) {
        margin-right: 0;
        margin-top: 30px;
    }

    .form__input:nth-child(2) {
        margin-right: 0;
        margin-top: 30px;
    }

    .form__button {
        margin-top: 40px;
    }
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.popup__close2 {
    position: absolute;
    right: 10px;
    top: 10px;
}
.popup__close3 {
    position: absolute;
    right: 10px;
    top: 10px;
}

.popup-callback__title {
    font-size: 48px;
    font-family: "ProximaNova-Black";
    display: block;
    text-align: center;
    padding-top: 50px;
}

.popup-callback__subtitle {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top: 30px;
}

.header__catalog--mobile {
    display: none;
}


// Слайдер каталога
.catalog__items_slider {
    display: none;

    .catalog__item_slider {
        width: 177px;
        height: 570px;
        margin: 5px;
    }

    .catalog__item_context {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 20px;
    }
}

.catalog__bg_1 {
    background-image: url(../../build/img/main/catalog/item1.png);
}

.catalog__bg_2 {
    background-image: url(../../build/img/main/catalog/item2.png);
}

.catalog__bg_3 {
    background-image: url(../../build/img/main/catalog/item3.png);
}

.catalog__bg_4 {
    background-image: url(../../build/img/main/catalog/item4.png);
}

.catalog__bg_5 {
    background-image: url(../../build/img/main/catalog/item5.png);
}

.catalog__bg_6 {
    background-image: url(../../build/img/main/catalog/item6.png);
}

.catalog__bg_7 {
    background-image: url(../../build/img/main/catalog/item7.png);
}

.hidden {
    display: none;
}

@import './media.scss'